* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #2b9cc8;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    margin-left: 150px;
}

.btn-moon {
    margin-right: 150px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dark-container {
    background-color: rgb(67, 75, 83);
    color: white;
}

.dark-header {
    background-color: rgb(23, 43, 63);
}

.button {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 650px;
    height: 650px;
}

.calories {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
    flex-wrap: wrap;
}

.numberCalories {
    color: rgb(240, 1, 1);
}
.numberCalories-dark {
    color: rgb(25, 209, 241);
}

img {
    width: 250px;
    height: 250px;
}

.checked {
    background-color: rgb(65, 123, 177);
}

.btn-moon {
    cursor: pointer;
}


@media screen and (max-width:1300px) {

    .calories {
        margin-right: 10%;
    }
    .buttons{
        margin-right: 2%;
    }
}

@media screen and (max-width:1000px) {

    .calories {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .buttons {
        margin-top: 120px;
        padding: 10px;
        width: 75%;
        margin-left: 10%;
    }
}


@media screen and (max-width:800px) {

    .buttons {
        width: 100%;
        margin-left:5%;
    }
}